DroneVehicle_OBB_FusionTransfer/P2D-*/weights/*.pt filter=lfs diff=lfs merge=lfs -text
pre-pth/yolov8n-obb_twostream_p2det_irprompt_asymidentitygder_p4_no_staticmaa_postc2f_v13_scalen.pt filter=lfs diff=lfs merge=lfs -text
